#  +------------------------------+
#  |  IMAGE_CLUSTERER_POSTGRESQL  |
#  +------------------------------+
DB_USERNAME=postgres
DB_PASSWORD=root
DB_BASE=postgresql
DB_NAME=image_clustering_module_app
DB_HOST=localhost
DB_PORT=5436